/* BLUE SCHEME */
/* :root {
    --main-bg-color: rgb(246, 245, 240);
    --light: rgb(229, 231, 235);
    --dark: rgb(75, 83, 97);
    --blue: rgb(8, 76, 207);
  } */

/* ORANGE SCHEME */
:root {
    --main-bg-color: #ECECDC;
    --light: #A0C9CB;
    --dark: #351e1c;
    --blue: #FF6037;
    --tea: #CADF9E;
}

@font-face {
    font-family: standard;
    src: url(fonts/std-thin.woff2);
}

@font-face {
    font-family: mono;
    src: url(fonts/mono.woff2);
}

h1, h2, h3, h4, h5, h6 {
    font-family: standard, sans-serif;
}

::selection {
	background: var(--blue);
	color: var(--main-bg-color);
}
::-moz-selection {
	background: var(--blue);
	color: var(--main-bg-color);
}

body {
    background-color: var(--main-bg-color);
    color: var(--dark);
    overflow-x: hidden;
    box-sizing: border-box;
    overscroll-behavior-y: none;
    margin: 0;
    font-family: mono, monospace;
}

.wrapper {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 32px 0px 32px;
    /* border: 1px solid blue; */
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 0px 24px 0px;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

.nav-logo {
    display: flex;
    gap: 1rem;
    /* border: 1px solid green; */
}

.nav-logo img {
    max-width: 100%
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-links a {
    color: var(--dark);
    text-decoration: none;
}

.image-shadow {
    filter: drop-shadow(rgba(115, 54, 53, 0.4) 7.058823px 7.058823px 0px)
}

main {
    display: block;
    padding-bottom: 50px;
}

.hero {
    height: 700px;
    display: flex;
    padding: 48px 0px 48px 0px;
    flex-direction: column;
    row-gap: 16px;
    column-gap: 16px;
    box-sizing: border-box;
}

.hero-grid {
    display: grid;
    column-gap: 48px;
    gap: 3rem;
    grid-template-columns: repeat(10,minmax(0,1fr));
    height: 450px;
    box-sizing: border-box;
}

.grid-child-l {
    display: block;
    grid-column: span 4/span 4;
    max-width: 1024px;
}

.grid-child-r {
    display: block;
    grid-column: span 6/span 6;
    max-width: 1024px;
    position: relative;
}

.hero-text {
    padding-top: 96px;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    z-index: 30;
    height: 100%;
    max-width: 576px;
    box-sizing: border-box;
}

.hero-text h1 {
    font-weight: 300;
    font-size: 64px;
    line-height: 100%;
    margin: 0px;
    line-height: 64px;
    color:var(--blue);
}

.hero-text span {
    display: inline-block;
    line-height: 24px;
    vertical-align: top;
}

.hero-button {
    display: flex;
    column-gap: 16px;
    padding-top: 40px;
    height: 82px;
    box-sizing: border-box;
}

.hero-button a {
    display: flex;
    align-items: center;
    padding: 8px 12px 8px 12px;
    justify-content: space-between;
    text-decoration: none;
    text-decoration-line: none;
    line-height: 24px;
    border: 1px solid rgba(115, 54, 53, 0.4);
    color: var(--dark);
    width: 100%;
    height: 42px;
    box-sizing: border-box;
}

.hero-button a div {
    display: block;
    height: 24px;
}

.hero-button a div svg {
    vertical-align: middle;
}

.hero-images {
    z-index: -10;
    position: absolute;
    display: block;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    top: -96px;
    height: 576px;
    width: 2046px;
}

.hero-images svg {
    position: absolute;
    z-index: 1;
    left: -32px;
    top: -288px;
    display: block;
    overflow: hidden;
}

.hero-image-wrapper {
    z-index: 10;
    position: absolute;
    left: 120px;
    bottom: -64px;
    height: 576px;
    width: 2048px;
    display: block;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.hero-image-wrapper svg {
    display: block;
    position: absolute;
    top: -144px;
    left: -144px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.hero-image-wrapper img {
    max-width: 100%;
    height: 100%;
}

section {
    z-index: 10;
    position: relative;
    display: block;
    box-sizing: border-box;
}

.start {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(10,minmax(0,1fr));
}

.large {
    grid-column: span 10/span 10;
    max-width: 100%;
}

.large-content h2 {
    font-size: 32px;
    line-height: 125%;
    margin: 0;
    color: var(--blue);
}

.mini {
    grid-column: span 6/span 6;
    max-width: 64rem;
}

.mini-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mini-content h2 {
    font-size: 32px;
    line-height: 125%;
    margin: 0;
    color: var(--blue);
}

.mini-content p {
    max-width: 38rem;
    margin: 0;
    line-height: 26px;
}

.medium {
    grid-column: span 10/ span 10;
    display: grid;
    grid-template-columns: repeat(10,minmax(0,1fr));
    gap: 3rem;
    margin-top: 10px;
}

.medium-text {
    grid-column: span 4/span 4;
    max-width: 64rem;
}

.medium-text div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.medium-text h3 {
    font-size: 24px;
    line-height: 133%;
    color:var(--blue);
}

.medium-img {
    position: relative;
    grid-column: span 6/span 6;
}

.medium-img img {
    max-width: 100%;
}

footer {
    background-color: var(--dark);
    color: var(--light);
    display: block;
    box-sizing: border-box;
    padding: 48px 0px 48px 0px;
}

.footer-content {
    max-width: 1380px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer-grid {
    display: grid;
    box-sizing: border-box;
    gap: 3rem;
    grid-template-columns: repeat(6,minmax(0,1fr));
}

.footer-grid-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: span 2/span 2;
    padding: 0px 48px 0px 48px;
}

.footer-grid-left p {
    font-size: 12px;
    margin: 0px;
    line-height: 20px;
}

.footer-grid-left a img {
    width: 60px;

}

.footer-grid-right {
    display: flex;
    justify-content: start;
    align-items: end;
    flex-direction: column;
    gap: 1rem;
    grid-column: span 4/span 4;
    padding: 0px 48px 0px 48px;
}

.footer-grid-right h4 {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    line-height: 120%;
}

.footer-grid-right ul {
    list-style: none;
    padding-left: 15px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    line-height: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-grid-right ul li {
    text-align: left;
    display: list-item;
}
.footer-grid-right ul li a {
    text-decoration: none;
    color: var(--light);
}

.footer-grid-right ul li a span {
    margin-left: 8px;
    text-align: left;
    font-size: 14px;
    display: inline;
    line-height: 20px;
    color: hsla(50,25%,95%,.5)
}

.blog-wrapper {
    padding-bottom: 96px;

}

.blog-list {
    display: grid;
    grid-template-columns: repeat(5,minmax(0,1fr));
    gap: 3rem;
}

.blog-left {
    grid-column: span 1/span 1;
    max-width: 64rem;
    box-sizing: border-box;
}

.blog-right {
    grid-column: span 4/span 4;
    max-width: 64rem;
    box-sizing: border-box;
}

.full-width {
    width: 100%;
    padding: 0px 0px 96px 0px;
}

.full-width a {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 16px 0px;
    text-decoration: none;

}

.full-width h4 {
    color: var(--blue);
    font-size: 20px;
    line-height: 120%;
    margin: 0px;
}

.full-width p {
    margin: 0px;
    font-size: 14px;
    color: var(--dark);
}

.highlight {
    background-color: rgba(115, 54, 53, 0.1);
}

.italic {
    font-style: italic;
}

.content-wrapper {
    display: grid;
    grid-template-columns: repeat(5,minmax(0,1fr));
    gap: 3rem;
}

.content-left {
    grid-column: span 1/span 1;
    max-width: 64rem;
}

.content-left div {
    padding-top: 64px;
}

.content-left div a {
    text-decoration: none;
}

.content-left div a p {
    color: var(--blue);
    margin: 0;
    font-size: 14px;
}

.content-center {
    grid-column: span 3/span 3;
    max-width: 64rem;
}

.content-right {
    grid-column: span 1/span 1;
    max-width: 64rem;
}

.content-right p {
    font-size: 14px;
    margin-top: 64px;
}
article {
    padding-bottom: 6px;
}

article p {
    margin-bottom: 1rem;
    width: 100%;
    line-height: 26px;
    display: block;
}

article a {
    text-decoration: none;
    color: var(--blue);
}

article a span {
    margin-left: 4px;
}

article h2 {
    font-size: 32px;
    line-height: 125%;
    margin: 48px 0px 16px 0px;
    color:var(--blue);
}

.article-header {
    padding-top: 43px;
    padding-bottom: 96px;
    margin: 0px;
    box-sizing: border-box;
}

.article-header h1 {
    color: var(--blue);
    font-weight: 300;
    font-size: 64px;
    margin: 0;
    line-height: 100%;
    letter-spacing: 0;
}

pre {
    background: rgba(115, 54, 53, 0.2);
    border: 1px solid var(--blue);
    border-left: 5px solid var(--blue);
    color: var(--dark);
    page-break-inside: avoid;
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

.list-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.list-item span {
    margin-right: 10px;
}

.cross-out {
    text-decoration: line-through;
}

article img {
    width: 100%;
}

@media (max-width: 600px) {
    .article-header h1 {
        font-size: 40px;
    }
}

.project-wrapper {
    display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 24px 0px 24px 0px;
}

.project-container {
    display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: space-around;
	margin: 3px 3px 3px 3px;
	padding: 10px;
	width: 300px;
	height: 200px;
	border-radius: 3px;
	background: var(--main-bg-color);
}

.project-border {
    background: var(--dark);
	padding: 0px;
	margin-top: 20px;
	border-radius: 3px;
}

.project-icons {
    margin-top: 10px;
    display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.project-tech {
    display: flex;
	flex-flow: row;
	justify-content: flex-start;
	font-size: 70%;
	width: 100%;
}

.project-text p {
    font-size: 90%;
}

.project-text h4 {
    margin-bottom: -20px;
}

.project-text h6 {
    margin-bottom: -10px;
}

.githubicon {
    color: var(--blue);
    cursor: pointer;
}

.githubicon:hover {
    color: var(--light);
    cursor: pointer;
}

.design-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.design-wrapper img {
    width: 20%;
    margin: 24px 48px 24px 48px;
    height: auto;
}

.signature-img {
    width: 120px;
}